<div class="absolute z-50 w-full mt-1 bg-white border border-gray-200 rounded-lg shadow-lg max-h-60 overflow-y-auto">
  <% if @parties.any? %>
    <% @parties.each do |party| %>
      <button
        type="button"
        class="w-full px-4 py-3 text-left hover:bg-gray-50 transition-colors flex items-center justify-between"
        data-party-id="<%= party.id %>"
        data-party-name="<%= party.name %>"
        data-action="click->party-autocomplete#selectParty"
      >
        <span class="font-medium text-gray-900"><%= party.name %></span>
        <span class="text-xs text-gray-500 bg-gray-100 px-2 py-1 rounded"><%= party.party_type %></span>
      </button>
    <% end %>

    <div class="border-t border-gray-100 my-1"></div>

    <button
      type="button"
      class="w-full px-4 py-3 text-left hover:bg-blue-50 transition-colors flex items-center gap-2 text-blue-600 font-medium"
      data-action="click->party-autocomplete#quickAdd"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      Create new "<%= params[:query] %>"
    </button>
  <% else %>
    <div class="px-4 py-3 text-gray-500 text-center">
      <p class="mb-2">No parties found</p>
      <button
        type="button"
        class="text-blue-600 font-medium hover:underline"
        data-action="click->party-autocomplete#quickAdd"
      >
        + Create new "<%= params[:query] %>"
      </button>
    </div>
  <% end %>
</div>
