<div data-controller="translator">
  <%= form_with url: convert_stream_path,
                method: :get,
                data: { action: "submit->translator#submit", turbo: false } do |f| %>
    <div class="field">
      <%= f.label :text, "Original text" %><br>
      <%= f.text_area :text, rows: 10, data: { translator_target: "text" } %>
    </div>

    <div class="field">
      <%= f.label :language, "Target language" %><br>
      <%= f.select :language,
                   [["Japanese", "Japanese"], ["English", "English"]],
                   {},
                   data: { translator_target: "language" } %>
    </div>

    <div class="actions">
      <%= f.submit "Translate" %>
    </div>
  <% end %>

  <div class="mt-4">
    <h3>Translation</h3>
    <pre data-translator-target="result"></pre>
  </div>
</div>